@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

$yellow: #FFD600;
$lime: #78BE20;
$aqua: #3CDBC0;
$blue: #2DB5E5;
$orange: #F37920;
$white: #fff;
$light: #eee;
$lightmed: #ccc;
$med: #999;
$meddark: #444;
$dark: #222;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Lato, Helvetica Neue;
	color: $dark;
}

section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-align-items: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	//padding: 5% 15%;
	padding: 0;

	.tab {
		//background-color: $dark;
		width: 80px;
		padding: 3% 0;
		transition: width 1000ms;

		.tab-title {
			text-transform: uppercase;
			font-weight: 700;
			-webkit-transform: rotate(-90deg);
			        transform: rotate(-90deg);
		}
	}

	.block {
		width: 0;
		transition: width 1000ms;
		text-align: center;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;

		img {
			width: 15vw;
		}
	}

	.auto-width {
		width: 40%;
	}

	.zero-width {
		width: 0;
		padding: 0;

		* {
			display: none;
		}
	}

	.content {
		background-color: $light;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 3%;
		border-bottom: 1px $lightmed solid;
  		-webkit-flex: 2 1 auto;
  		    -ms-flex: 2 1 auto;
  		        flex: 2 1 auto;
  		text-align: center;
	}
}

header {
	height: 60px;
	border-bottom: 5px solid $aqua;
	width: 100%;
	line-height: 60px;
	background-color: rgba(0, 0, 0, 0.6);
	color: $white;
	position: fixed;
	padding: 0 40px;
}

/*griddzzzzz*/

.row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

/*buttons and shit*/

#donate {
	float: right;
	line-height: 20px;
	background-color: $lime;
	height: 40px;
	padding: 10px;
	margin-top: 6px;
	width: 170px;
	text-align: center;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	cursor: pointer;
	border-radius: 15px;
	border: 1px darken($lime, 3%) solid;

	&:hover {
		background-color: darken($lime, 3%);
	}

	@media screen and (max-width: 700px) {
		display: none;
	}
}

.btn-primary {
	background-color: $lime;
	padding: 20px;
	width: 200px;
	text-align: center;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
	border-radius: 15px;
	border: 1px darken($lime, 3%) solid;

	&:hover {
		background-color: darken($lime, 3%);
	}
}

/*texts*/

h1 {
	float: left;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0;
	padding: 0;
	font-size: 2vw;

	@media screen and (max-width: 700px) {
		font-size: 5vw;
	}	
}

.highlight {
	font-size: 8vw;
	text-align: center;

	@media screen and (min-width: 700px) {
		font-size: 4vw;
	}
}

.body-med {
	font-size: 2vw;
}

/*custom elements*/

#logo {
	float: left;
	margin-top: 20px;
	height: 80px;
	display: none;
}

.infobox {
	background-color: #eee;
	text-align: center;
	color: $med;
	padding: 20px 30px;
	width: 33.3%;
	margin: 10px 0;
	cursor: pointer;

	* {
		text-transform: uppercase;
		font-weight: 700;
	}

	&:hover {
		background-color: darken($light, 3%);
	}
}

.overlay-cont {
	background-color: rgba(0, 0, 0, 0.6);
	background-color: $light;
	padding: 5px 90px;
	color: $dark;
}

#cover {
	background-image: url("sample3.jpg");
	color: white;
}

#cover2 {
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-image: url("sample1.jpg");
	background-size: cover;
	color: white;
	min-height: 80vh;
}

/*colour accents*/

.hacker {
	border-top: 10px solid $yellow;
}

.mentor {
	border-top: 10px solid $orange;
}

.sponsor {
	border-top: 10px solid $blue;
}

.white-section {
	background-color: $white !important;
}

.grey-section {
	background-color: $light;
}

.aqua-section {
	background-color: $aqua;
	color: $dark;
}

.lime-section {
	background-color: $lime;
}

.yellow-section {
	background-color: $yellow;
	color: white;
}

.orange-section {
	background-color: $orange;
}

.blue-section {
	background-color: $blue;
}

.dark-section {
	background-color: $dark;
}

.light-section {
	background-color: $light;
}