@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: Lato, Helvetica Neue;
  color: #222; }

section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0; }
  section .tab {
    width: 80px;
    padding: 3% 0;
    transition: width 1000ms; }
    section .tab .tab-title {
      text-transform: uppercase;
      font-weight: 700;
      transform: rotate(-90deg); }
  section .block {
    width: 0;
    transition: width 1000ms;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    section .block img {
      width: 15vw; }
  section .auto-width {
    width: 40%; }
  section .zero-width {
    width: 0;
    padding: 0; }
    section .zero-width * {
      display: none; }
  section .content {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    border-bottom: 1px #ccc solid;
    flex: 2 1 auto;
    text-align: center; }

header {
  height: 60px;
  border-bottom: 5px solid #3CDBC0;
  width: 100%;
  line-height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: fixed;
  padding: 0 40px; }

/*griddzzzzz*/
.row {
  display: flex;
  justify-content: center;
  align-items: flex-start; }

/*buttons and shit*/
#donate {
  float: right;
  line-height: 20px;
  background-color: #78BE20;
  height: 40px;
  padding: 10px;
  margin-top: 6px;
  width: 170px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px #70b11e solid; }
  #donate:hover {
    background-color: #70b11e; }
  @media screen and (max-width: 700px) {
    #donate {
      display: none; } }

.btn-primary {
  background-color: #78BE20;
  padding: 20px;
  width: 200px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px #70b11e solid; }
  .btn-primary:hover {
    background-color: #70b11e; }

/*texts*/
h1 {
  float: left;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 2vw; }
  @media screen and (max-width: 700px) {
    h1 {
      font-size: 5vw; } }

.highlight {
  font-size: 8vw;
  text-align: center; }
  @media screen and (min-width: 700px) {
    .highlight {
      font-size: 4vw; } }

.body-med {
  font-size: 2vw; }

/*custom elements*/
#logo {
  float: left;
  margin-top: 20px;
  height: 80px;
  display: none; }

.infobox {
  background-color: #eee;
  text-align: center;
  color: #999;
  padding: 20px 30px;
  width: 33.3%;
  margin: 10px 0;
  cursor: pointer; }
  .infobox * {
    text-transform: uppercase;
    font-weight: 700; }
  .infobox:hover {
    background-color: #e6e6e6; }

.overlay-cont {
  background-color: rgba(0, 0, 0, 0.6);
  background-color: #eee;
  padding: 5px 90px;
  color: #222; }

#cover {
  background-image: url("sample3.jpg");
  color: white; }

#cover2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("sample1.jpg");
  background-size: cover;
  color: white;
  min-height: 80vh; }

/*colour accents*/
.hacker {
  border-top: 10px solid #FFD600; }

.mentor {
  border-top: 10px solid #F37920; }

.sponsor {
  border-top: 10px solid #2DB5E5; }

.white-section {
  background-color: #fff !important; }

.grey-section {
  background-color: #eee; }

.aqua-section {
  background-color: #3CDBC0;
  color: #222; }

.lime-section {
  background-color: #78BE20; }

.yellow-section {
  background-color: #FFD600;
  color: white; }

.orange-section {
  background-color: #F37920; }

.blue-section {
  background-color: #2DB5E5; }

.dark-section {
  background-color: #222; }

.light-section {
  background-color: #eee; }

/*# sourceMappingURL=style.css.map */
